   <!-- Cards -->
      <div class="col-md-9">
        <div class="row">
          <!-- Card Template w/ Handlebars -->
          {{#each user.cars}}
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-make">Make: {{make}}</h5>
                <p class="card-model">Model: {{model}}</p>
                <p class="card-year">Year: {{year}}</p>
                <p class="card-price">Price: {{price}}</p>
                <button class="btn btn-primary">Make Bid</button>
              {{!-- if adding img add image src here to populate elsewhere --}}
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>