<!-- drop down itens for sidebar filter -->
<li><a class="dropdown-item" href="#">Make</a></li>
<li><a class="dropdown-item" href="#">Model</a></li>
<li><a class="dropdown-item" href="#">Year</a></li>
