<body id="font">
  <div>
    <div class="new-car-form">
      <div class="wrap-func">
        <div>
          <div id="profile-data">
            <h2>Add New Car</h2>
            <form class="new-car-form">
            <div class="form-group">
              <label for="car-make">Make</label>
              <input
                type="text"
                class="form-control"
                id="car-make"
                name="car-make"
              />
            </div>
            <div class="form-group">
              <label for="car-model">Model</label>
              <textarea
                class="form-control"
                id="car-model"
                name="car-model"
              ></textarea>
            </div>
            <div class="form-group">
              <label for="car-year">Year</label>
              <textarea
                class="form-control"
                id="car-year"
                name="car-year"
              ></textarea>
            </div>
            <div class="form-group">
              <label for="car-price">Price</label>
              <textarea
                class="form-control"
                id="car-price"
                name="car-price"
              ></textarea>
            </div>
            <div class="form-group">
              <label for="car-lbid">Starting Bid</label>
              <textarea
                class="form-control"
                id="car-lbid"
                name="car-lbid"
              ></textarea>
            </div>
            <div class="form-group">
              <label for="car-image">Image</label>
              <textarea
                class="form-control"
                id="car-image"
                name="car-image"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            </form>
          </div>
      </div>
        <div id='info'>
          <h2>My Info</h2>
          {{> userInfo}}
        </div>
      </div>

    

      {{#if cars.length}}
        <section >
          <h2  id="sub-title" >Your Cars:</h2>
          <div class="your-cars">
            {{#each cars as |car|}}
              
                {{> editBtn car}}
             
            {{/each}}
          </div>
        </section>
      {{/if}}
      </div>
    </div>
<script src="/js/addCar.js"></script>
</body>
