<body id="font">
<div id="focus-car" class="container">

    {{> carInfo car}}

    {{#if loggedIn}}
    <form class="bid-form">
      <div class="form-group">
        <label for="bid-body">Place your Bid:</label>
        <textarea name="bid-body" class="form-control"></textarea>
      </div>
      <button type="submit" class="btn btn-success">Add Bid</button>
    </form>
    {{/if}}
    {{> bids car.bids}}
    {{#if loggedIn}}


    <script src="/js/bid.js"></script>
    {{/if}}
</div>
</body>

  